# Dependencies

https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-2.0.0/fr_core_news_sm-2.0.0.tar.gz#egg=fr_core_news_sm
jupyter==1.0.0
langdetect==1.0.7
nltk==3.4.5
scikit-learn==0.20.3
spacy==2.0.18
ural==0.6.0
